* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-weight: 400;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}
body {
	background: linear-gradient(to right, #ecd3e7, #bbecec);
	background: #a7d2c3;
	font-family: 'Poppins', sans-serif;
	color: white;
	min-height: 100vh;
}

header,
form {
	display: flex;
	min-height: 15vh;
	justify-content: center;
	align-items: center;
}

form input,
form button {
	padding: 0.4rem;
	border: none;
	font-size: 1.6rem;
	background: white;
}

form button {
	color: #c065c0;
	background: white;
	cursor: pointer;
	transition: all 0.3s ease;
}

form button:hover {
	background: #c065c0;
	color: white;
}

/* STYLING DROPDOWN */
datalist {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none; 
}

.fa {
	display: block;
}

.category {
	margin: 1rem;
	position: relative;
	overflow: hidden;
}

datalist {
	color: #c065c0;
}

/* .category::after {
	content: "\25bc";
	position: absolute;
	color: #c065c0;
	top: 7px;
	right: 6px;
	pointer-events: none;
} */

.category:hover::after {
	color: #583429;
}

.todo_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo_list {
	min-width: 40%;
	list-style: none;
}

.todo_input{
    margin-right: 10px;
}

.todo {
	margin: 5px auto;
	background: white;
	color: #000000;
	display: flex;
	font-size: 1.2rem;
	padding: 0.3rem;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
}

.todo li {
	flex: 1;
}

.complete_btn,
.delete_btn {
	padding: 0.5rem;
	background: #ff3700;
	color: white;
	border: none;
	margin-left: 0.2rem;
	cursor: pointer;
	font-size: 1rem;
}

.complete_btn {
	background: rgb(67, 179, 67);
}

.complete_btn:active {
	background: green;
}

.delete_btn:active {
	background: #b65337;
}

.fa-trash,
.fa-check {
	pointer-events: none;
}

.completedItem {
	text-decoration: line-through;
	opacity: 0.5;
	transform: scale(0.96);
}

.fall {
	transform: translateY(4rem) scale(0.4) rotateZ(20deg);
	opacity: 0;
}

.remove_all_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.remove_completed_btn{
    background-color: #c065c0;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}